# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
dist/
build/
.aws-sam/
*.zip

# Env / secrets
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS / editor
.DS_Store
.vscode/
.idea/

# SAM / CDK
samconfig.toml
.aws-sam/
cdk.out/
